#playerName {
  background: pink;
}
.entity {
  position: absolute;
  width: 40px;
  height: 100px;
  background: red;
}
.wall {
  position: absolute;
}
.player {
  position: absolute;
  width: 40px;
  height: 100px;
  background: red;
}
.bullet {
  position: absolute;
  width: 5px;
  height: 5px;
  background: black;
  overflow: hidden;
}
#gameBoard {
  border-style: solid;
  width: 500;
  overflow: hidden;
  height: 500;
}
#chat-window {
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid black;
  background: whitesmoke;
}
#chat {
  width: 175px;
  height: 300px;
  border: 1px solid black;
  background: whitesmoke;
  overflow: auto;
}

input:focus {
  background: green;
}
