#playerName {
  background: pink;
}
.entity {
  position: absolute;
  width: 40px;
  height: 100px;
  background: red;
}
.wall {
  position: absolute;
}
.player {
  position: absolute;
  width: 40px;
  height: 100px;
  background: red;
}
.bullet {
  position: absolute;
  width: 5px;
  height: 5px;
  background: black;
  overflow: hidden;
}
#gameBoard {
  border-style: solid;
  width: 800;
  overflow: hidden;
  height: 600;
}
#chat-window {
  position: absolute;
  top: 0;
  right: 0;
  border: 4px solid orange;
  background: whitesmoke;
}
#chat {
  width: 400px;
  height: 60px;
  border: 1px solid black;
  background: gray;
  overflow: auto;
}
#chatInput {
  width: 404;
  background-color: gray;
}
#messageSendButton {
  background-color: green;
  
}
input:focus {
  background: gray;
  width: 400;
}
